//variables
$blue: #cfecf2;
$baby-blue: #def0f2;
$pink: #fdd5de;
$baby-pink: #fde2e7;
$dark-blue: #c4d1f3;


body{
    background-color: $dark-blue
}

.container {
    display: flex;
    flex-direction: column;
}

input {
    width: 30%;
}